@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0; 
}

body {
    background-color: black;
    color: white;
    height: 100vh;
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}


.cabecalho_menu{
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link{
    text-decoration: none;
    color: aquamarine;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Montserrat';

}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between 10%;
    gap: 80px;

}

.apresentacao_conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_titulo{
    font-size: 2.25rem;
    font-family: 'Krona one';
}

.apresentacao_titulo_conteudo{
    font-size: 1.5rem;
    font-family: 'Montserrat';
}

.apresentacao_links_navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid aquamarine;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600PX;
    padding: 21.5px 0%;
    text-decoration: none;
    color:white;
    font-family: 'Montserrat';
}

.apresentacao_imagem{
    width: 50%;
    display: flex;
    direction: inherit;
}

.rodape{
    padding: 24px;
    color: black;
    background-color: white;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 400;

}